<html>
    <head>
        <title>hello world!</title>
    </head>
    <body>
    <h1>The date is <%=Date.today.strftime("%A, %B %d, %Y")%> </h1>
    <!-- 
     %A - The full weekday name (``Sunday'')
     %B - The full month name (``January'') 
     %d - Day of the month, zero-padded (01..31) 
     %Y - year % 100 (00..99)
     Above will print out -- The date is Monday, November 18, 2019
     -->
    </body>
</html>